.info-container {
  padding: 15px;
  background-color: #f3f4f6;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.program-info {
  margin-top: 10px;
  font-size: 16px;
}

.program-info button {
  margin-top: 15px;
}
