<nz-card nzTitle="Registro de Estudiante">
  <form [formGroup]="estRegisterform" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Nombre</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input nz-input formControlName="nombre" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Email</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input nz-input formControlName="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Programa</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select formControlName="programa" nzPlaceHolder="Seleccione un programa">
         <nz-option
          *ngFor="let m of programas()"
          [nzValue]="m.id"
          [nzLabel]="m.nombre"
         />
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Materias</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select
          formControlName="materiasSeleccionadas"
          nzMode="multiple"
          nzPlaceHolder="Seleccione 3 materias"
          [nzMaxTagCount]="3"
        >
         <nz-option
          *ngFor="let m of materias()"
          [nzValue]="m.id"
          [nzLabel]="m.nombre"
         />
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" [disabled]="estRegisterform.invalid">Registrar</button>
  </form>
</nz-card>
