<nz-card nzTitle="Registro de Estudiante">
  <form [formGroup]="estRegisterform" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Nombre</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input nz-input formControlName="nombre" />
      </nz-form-control>
    </nz-form-item>onSubmit

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Email</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input nz-input formControlName="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Programa</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select formControlName="programa" nzPlaceHolder="Seleccione un programa">
          <nz-option nzValue="1" nzLabel="Ingeniería" />
          <nz-option nzValue="2" nzLabel="Ciencias" />
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Materias</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select
          formControlName="materias"
          nzMode="multiple"
          nzPlaceHolder="Seleccione 3 materias"
          [nzMaxTagCount]="3"
        >
          <nz-option *ngFor="let m of [1,2,3,4,5,6,7,8,9,10]" [nzValue]="m" [nzLabel]="'Materia ' + m" />
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" [disabled]="estRegisterform.invalid">Registrar</button>
  </form>
</nz-card>
