<nz-card nzTitle="Registro de Estudiante">
  <form [formGroup]="createEstform" (ngSubmit)="onSubmitCreate()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Nombre</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input formControlName="nombre" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">Email</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input formControlName="email" />
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" [disabled]="createEstform.invalid">Guardar</button>
  </form>
</nz-card>
